

body { 
  margin:0;
}


#container {
  margin : 0 auto;
  width: 100%;
  position: relative;
}

#left {
  position: absolute;
  left: 0;
  width: 200px;
  height: 500px;
  background: #ffa;
}

#content {
  position: relative;
  left: 200px;
  width: 100%;
  height: 500px;
  background: #ccc;
}